{% extends "base.html" %}

{% block title %}{{ block.super }}Tweet detail{% endblock title %}

{% block script %}
  <script>
    $(document).ready(function(){
      loadTweetContainer("tweet-container");
    });
  </script>
{% endblock script %}


{% block content %}
<div class="row">
  <div class="col-sm-3">
    <h2>{{ object.username }}</h2>
    <p>
      <a class="btn btn-link" href="{% url 'profiles:follow' username=object.username %}">
        {% if following %} Unfollow {% else %} Follow {% endif %}
      </a>
    </p>
    <h3>Following <small>{{ object.profile.get_following.count }}</small></h3>
    {% for user in object.profile.get_following %}
    <a href="/{{ user.username }}">
      {{ user.username }}
    </a> <br/>
      {% empty %}
      <p>This user isn't following anyone yet.</p>
    {% endfor %}

    <h3>Followers <small>{{ object.followed_by.all.count }}</small></h3>
    {% for profile in object.followed_by.all %}
      <a href="/{{ profile.user.username }}">{{ profile.user.username }}</a><br/>
    {% empty %}
      <p>This user doesn't have any followers yet.</p>
    {% endfor %}

  

  </div>
  <div class="col-sm-9">
    <h1>Tweets</h1>

    <div id="tweet-container" data-url='/api/{{ object.username }}/tweet/'></div>
    <a href="#" id="loadmore">Load more tweets</a>


  </div>
</div>
{% endblock content %}
